# Solana Network Configuration
SOLANA_RPC_HOST=https://api.devnet.solana.com
WALLET_PRIVATE_KEY=[Tvoj_Testni_Zasebni_Kljuc_V_Obliki_Array_Ali_Base58]

# Server Configuration
PORT=3000
NODE_ENV=development

# PayFreight Escrow Parameters
ESCROW_PROGRAM_ID=[ID_tvojega_Anchor_programa_ko_ga_deployas]
TREASURY_WALLET=[Wallet_za_provizije]
